[Unit]
Description=Lighttpd Daemon
After=network.target

[Service]
ExecStartPre=/usr/bin/lighttpd -t -f /etc/lighttpd/lighttpd.conf
ExecStart=/usr/bin/lighttpd -D -f /etc/lighttpd/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
