[Unit]
Description=IRQ Balancing Daemon

[Service]
Type=forking
ExecStart=/usr/bin/irqbalance
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
